

h1, h2, h3, h4, h5, p{
	// font-family: "minion-pro", sans-serif;
	font-family: "crimsontext-regular", sans-serif;
}
.comment{
	// font-family: "minion-pro", sans-serif;	
	font-family: "crimsontext-regular", sans-serif;
}
.body-wrapper{
    max-width: 1350px;
    margin: auto;
    height: 100%;
    
}
.notfound{
	padding:5% 10%;
}
// Responsive design
@media all and (max-width: 1390px) { 

}
@media all and (max-width: 1024px) { 
	
}
@media all and (max-width: 940px) { 


}

@media all and (max-width: 768px) {
	
}

@media all and (max-width: 667px) {

}

@media all and (max-width: 480px) {
	
}

@media all and (max-width: 320px) {
    
    
}